<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Акинатор</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
</head>
<body class="container">
    {% include 'app/templates/header.html' %}
    <h1 class="my-h1">Кодовое имя: Акинатор-1945. Я могу отгадать битву Великой Отечественной войны!</h1>
    <div style="text-align:center">
        <a href="{% url 'akinator:game' %}" class="link-btn">Играть</a>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>